.container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.avatarImg {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.imgList {
    margin-top: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.now {
    border: 3px solid var(--weui-FG-0);
}